.ToDoForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  height: 100vh;
}

.ToDoForm__label {
  font-size: 3rem;
  text-align: center;
  color: var(--title-color);
}

.ToDoForm__text-area {
  width: 320px;
  height: 30%;
  resize: none;
  border-radius: 12px;
  padding: 16px;
  font-size: 1.8rem;
  font-family: inherit;
  align-self: center;
  color: var(--title-color);
}

.ToDoForm__text-area:focus {
  outline-color: var(--third-color);
}

.ToDoForm__buttons {
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  gap: 32px;
}

.ToDoForm__buttons button {
  width: 100px;
  height: 45px;
  font-family: inherit;
  font-size: 1.6rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.add-button {
  background-color: var(--third-color);
  color: var(--main-bg-color);
  box-shadow: 0px 0px 10px 0px rgb(24 24 24 / 50%);
}

.cancel-button {
  background-color: white;
  color: var(--title-color);
}
