.ToDoList {
  position: relative;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

.ToDoList__error-search,
.ToDoList__empty {
  font-size: 2rem;
  text-align: center;
  color: var(--title-color);
}

.ToDoList__container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
